

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Platelet Donors</title>
    <link href="images/fav.png" rel="shortcut icon">
    <!-- Bootstrap -->
    <link href="http://www.indianblooddonors.com/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.indianblooddonors.com/fonts/css/font-awesome.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link href="http://www.indianblooddonors.com/css/mystyle.css" rel="stylesheet">
    <link rel="stylesheet" href="http://www.indianblooddonors.com/styles.css">
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="http://www.indianblooddonors.com/script.js"></script>
    <script src="http://www.indianblooddonors.com/js/crawler.js" type="text/javascript"></script>
</head>
<body>
    <div class="container-fluid bg">
        <div class="container shadow bg1">


<div class="row topbg">
    <div class="col-md-6"> Blood Helpline Call: 07966772379</div>
    <div class="col-md-6" align="right"> Download our Apps to Contact Donors </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="http://www.indianblooddonors.com/images/logo.png" class="img-responsive" alt="" />
    </div>
    <div class="col-md-6" align="right">
        <ul class="list-inline" style="padding-top:25px">
            <li><a href="#" target="_blank"><i class="fa fa-apple fa-2x" style="color:#000"></i></a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.ibd.plateletdonorapp" target="_blank"><i class="fa fa-android fa-2x" style="color:#090"></i></a></li>

        </ul>
    </div>
</div>

<div class="row menubg">

    <nav class="navbar navbar-inverse" style="margin-bottom:10px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class= ><a href='/'>Home</a></li>
                    <li class=><a href="{% url 'login' %}">Donors Login</a></li>
                    <li class=><a href="{% url 'ibd:forgetpwd' %}">Forgot Password</a></li>
                    <li class=><a href="{% url 'ibd:unsubscribe' %}">Unsubscribe</a></li>
                    <li class=><a href="{% url 'ibd:inthenews' %}">In the News</a></li>
                    <li class=><a href="{% url 'ibd:poster' %}">Paste our Posters</a></li>
                    <li class=active><a href="{% url 'ibd:donorsfaqs' %}">Donors FAQs</a></li>
                    <li><a href='https://www.facebook.com/Plateletdonors'>Facebook</a></li>
                </ul>
            </div>
        </div>
    </nav>

</div>

            <div class="row sliderbg mh-600" style="margin-top:-20px;">
                <div class="col-md-12">
                   <div class="list-group">
                        <a href="#" class="list-group-item active lst">

                            Donors FAQs

                        </a>
                        <div class="col-md-12" style="background-color :white;">

                               <h3 style="color:black;"> What
                                are Platelets ?</h3>
                                <p align="justify" style="color:black;margin-top :20px;">
                                    Platelets are an important component of blood because
                                    they are a critical part of the clotting process. They prevent or
                                    stop bleeding and are life-saving therapy for patients undergoing
                                    chemotherapy for cancer treatment, leukemia, bone marrow transplants,
                                    organ transplants and open heart surgery. Children undergoing therapy
                                    for cancer and leukemia often need platelets. Due to recent advances
                                    in the treatment of these illnesses, the demand for platelets is growing
                                    dramatically.
                                </p>


                            <h3 style="color:black;">
                                Who can Donate Platelets ?
                                </h3>


                                <p align="justify" style="color:black;">
                                    Almost anyone can be a platelet donor. The qualifications
                                    are the same as for whole blood donations. Through a process call
                                    apheresis (pronounced ay-Fuh-REE-sis) or plateletpheresis, which is
                                    a technique of selectively withdrawing a single component of blood,
                                    you can donate platelets, Since platelets only have a shelf life of
                                    five days, the hospital demand for them is constant. That's why we
                                    depend on our platelet apheresis heroes.
                                </p>

                            <h3 style="color:black;">
                                Why cant a large amount of platelets be collected during
                                a regular blood donation ?
                                </h3>


                                <p align="justify" style="color:black;">
                                    Platelet donation allows the collection of a large
                                    quantity of platelets from a single donor. The specialized technology
                                    separates and collects just the platelets and returns the red cells
                                    and plasma to the donor. To equal the quantity of one platelet donation,
                                    we would have to combine or &quot;pool&quot; the platelets from six
                                    different whole blood donations from six different donors.
                                </p>

                            <h3 style="color:black;">
                                How is a platelet donation different from a whole blood donation
                                ?
                            </h3>


                            <ul style="color:black;">
                                <li> Platelets are not collected at Blood Drives.</li>
                                <li>
                                    Donating platelets is a very safe procedure. Sterile , single
                                    use collection kits and needles are used once, just for you and
                                    then discarded.
                                </li>
                                <li>
                                    You can donate platelets 24 times a year compared to 4 times
                                    in a year for whole blood.
                                </li>
                                <li>
                                    Because it takes more time to separate and collect the platelets
                                    from the other components in your blood, the donation takes approximately
                                    90 minutes. The entire process , including paperwork and health
                                    history, usually takes about 2 hours.
                                </li>
                                <li>
                                    Platelet Donors can not have taken any aspirin or aspirin products
                                    for 48 hours before their donation.
                                </li>
                                <li>
                                    You feel no different from donating blood, and are instructed
                                    to return to your normal (not strenuous) activities. Dizziness and
                                    fainting are very uncommon with platelet donors.
                                </li>
                            </ul>




                            <h3 style="color:black;">
                                Can i continue donating whole blood and be a Platelet Donor
                                ?
                            </h3>


                            <p align="justify" style="color:black;">
                                YES ! We have several donors that donate both whole blood and platelets.
                                Due to the difference in donation frequency guidelines, donor can
                                arrange to fit both types of donations in their schedule.
                            </p>


                            <h3 style="color:black;">
                                Whats needed more - Whole Blood or Platelets ?
                            </h3>


                            <p align="justify" style="color:black;">
                                BOTH !! . There is an equal need for blood and platelets. However
                                since there are fewer locations for platelet donations, there is a
                                small donor base and a stronger need to recruit new donors.
                            </p>

                            <h3 style="color:black;">
                                Did you know ?
                            </h3>


                            <ul style="color:black;">
                                <li>
                                    Platelets have a shelf life of only 5 days , so there is a constant
                                    need for platelet donors.
                                </li>
                                <li>
                                    Whole Blood Donors are eligible every 90- days or about 4 donations
                                    a year ; platelet donors can donate up to 24 times a year.
                                </li>
                                <li> Donors can donate platelets within 3 days of a whole blood donation</li>
                                <li> Your Body replaces your platelets in about 24 hours.</li>
                            </ul>


                            <h3 style="color:black;">
                                How often can I donate Platelets ?
                            </h3>


                            <p align="justify" style="color:black;">
                                Up to 24 times a year ! Due to the flexibility of
                                platelet donation, many donors create their own schedules. We have
                                some donors that donate twice a month, once a month, once a year or
                                whenever they can. And every donation is appreciated !!! There is
                                a tremendous need for platelet donors.
                            </p>


</div>

                    </div>

                </div>
            </div>


<div class="row ftopbg" style="line-height:1.8; text-align:justify; color:#ABADAE">
    <div class="col-md-3">
        <p style="font-size:16px; color:#ccc"><strong>TECHNOLOGY PARTNERS</strong></p>
        <p> <a href="https://awaaz.de/" target="_blank">Awaaz De</a></p>
        <p> <a href="https://www.givingtuesdayindia.org/" target="_blank">Giving Tuesday India</a></p>
        <p> <a href="http://proso.io?ref=pd" target="_blank">Proso.io</a></p>
    </div>
    <div class="col-md-3">
        <p style="font-size:16px; color:#ccc"><strong>CONNECTIONS MADE</strong></p>
        <p> 1720 Platelet Donors Registered</p>
        <p> 17553 Requests served till date</p>
        <p> 262 Searches in Last 30 Days</p>
    </div>
    <div class="col-md-3">
        <p style="font-size:16px; color:#ccc"><strong>OUR OTHER INITIATIVES</strong></p>

        <p><a target="_blank" href='http://indianblooddonors.com/'>Indian Blood Donors</a></p>
        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.appsthentic.sevakitchen">Seva Kitchen Food Sharing App</a></p>
    </div>
    <div class="col-md-3">
        <p style="font-size:16px; color:#ccc"><strong>CONTACT US</strong></p>
        <p><strong>Address:</strong></p>
        <p>
            Platelet Donors <br>
            127, New Colony,<br>
            Nagpur - 440001,<br>
            Maharashtra (India).
        </p>
        <p><strong>Email-id:</strong>info@plateletdonors.org</p>
    </div>
</div>
<div class="row fbottompbg" style="color:#666">
    <div class="col-md-6"> @ 2018 Plateletdonors.org. All right reserved. </div>
    <div class="col-md-6" align="right"> </div>
</div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
            function validate(e) {
                //getting key code of pressed key
                var keycode = (e.which) ? e.which : e.keyCode;
                //var phn = document.getElementById('textarea');
                //
                //comparing pressed keycodes
                if ((keycode < 48 || keycode > 57) && keycode !== 13 && keycode !== 8 && keycode !== 46 && keycode !== 37 && keycode !== 39) {
                    e.preventDefault();
                    console.log("FAIL");
                    return false;
                } else {
                    console.log("OK!");
                }
            }
    </script>
</body>
<!-- Mirrored from indianblooddonors.com/privacypolicy.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Mar 2018 05:06:16 GMT -->
</html>
