
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Platelet Donors</title>
    <link href="http://www.indianblooddonors.com/images/fav.PNG" rel="shortcut icon">
    <!-- Bootstrap -->
    <link href="http://www.indianblooddonors.com/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.indianblooddonors.com/fonts/css/font-awesome.css" rel="stylesheet">
   <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link href="http://www.indianblooddonors.com/css/mystyle.css" rel="stylesheet">
    <link rel="http://www.indianblooddonors.com/stylesheet" href="http://www.indianblooddonors.com/styles.css">
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="http://www.indianblooddonors.com/script.js"></script>
    <script src="http://www.indianblooddonors.com/js/crawler.js" type="text/javascript"></script>
</head>
<body>
    <div class="container-fluid bg">
        <div class="container shadow bg1">


<div class="row topbg">
    <div class="col-md-6"> Blood Helpline Call: 07966772379</div>
    <div class="col-md-6" align="right"> Download our Apps to Contact Donors </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="http://www.indianblooddonors.com/images/logo.png" class="img-responsive" alt="" />
    </div>
    <div class="col-md-6" align="right">
        <ul class="list-inline" style="padding-top:25px">
            <li><a href="#" target="_blank"><i class="fa fa-apple fa-2x" style="color:#000"></i></a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.ibd.plateletdonorapp" target="_blank"><i class="fa fa-android fa-2x" style="color:#090"></i></a></li>

        </ul>
    </div>
</div>

<div class="row menubg">

    <nav class="navbar navbar-inverse" style="margin-bottom:10px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class= ><a href='/'>Home</a></li>
                    <li ><a href="{% url 'login' %}">Donors Login</a></li>
                    <li ><a href="{% url 'ibd:forgetpwd' %}">Forgot Password</a></li>
                    <li ><a href="{% url 'ibd:unsubscribe' %}">Unsubscribe</a></li>
                    <li class=><a href="{% url 'ibd:inthenews' %}">In the News</a></li>
                    <li ><a href="{% url 'ibd:poster' %}">Paste our Posters</a></li>
                    <li class=><a href='DonorsFAQs.php'>Donors FAQs</a></li>
                    <li><a href='https://www.facebook.com/Plateletdonors'>Facebook</a></li>

                     <li  ><a  href='/'>Home</a></li>

                </ul>

            </div>
        </div>
    </nav>

</div>

          <div class="row">
            <h5 style="margin: 25px;" align="center">
                              <span>You have been unsubscribed successfully.</span>
                            </h5>
          </div>


<div class="row ftopbg" style="line-height:1.8; text-align:justify; color:#ABADAE">
    <div class="col-md-3">
        <p style="font-size:16px; color:#ccc"><strong>TECHNOLOGY PARTNERS</strong></p>
        <p> <a href="https://awaaz.de/" target="_blank">Awaaz De</a></p>
        <p> <a href="https://www.givingtuesdayindia.org/" target="_blank">Giving Tuesday India</a></p>
        <p> <a href="http://proso.io?ref=pd" target="_blank">Proso.io</a></p>
    </div>
    <div class="col-md-3">
        <p style="font-size:16px; color:#ccc"><strong>CONNECTIONS MADE</strong></p>
        <p> 1720 Platelet Donors Registered</p>
        <p> 17552 Requests served till date</p>
        <p> 262 Searches in Last 30 Days</p>
    </div>
    <div class="col-md-3">
        <p style="font-size:16px; color:#ccc"><strong>OUR OTHER INITIATIVES</strong></p>

        <p><a target="_blank" href='http://indianblooddonors.com/'>Indian Blood Donors</a></p>
        <p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.appsthentic.sevakitchen">Seva Kitchen Food Sharing App</a></p>
    </div>
    <div class="col-md-3">
        <p style="font-size:16px; color:#ccc"><strong>CONTACT US</strong></p>
        <p><strong>Address:</strong></p>
        <p>
            Platelet Donors <br>
            127, New Colony,<br>
            Nagpur - 440001,<br>
            Maharashtra (India).
        </p>
        <p><strong>Email-id:</strong>info@plateletdonors.org</p>
    </div>
</div>
<div class="row fbottompbg" style="color:#666">
    <div class="col-md-6"> @ 2018 Plateletdonors.org. All right reserved. </div>
    <div class="col-md-6" align="right"> </div>
</div>

        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
  </body>
</html>
